<script>
    $(document).ready(function() {
        validacion();
        $("#fecha").change(function() {
            var edad = calcularEdad($("#fecha").val());
            $("#edad").val(edad);
        });
    });
</script>
<br>
<br>
<br>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
            <div class="col-lg-11 pt-md-10 ftco-animate">
                <div class="mt-10">
                    <h3 class="appointment-heading">Registro Usuario</h3>
                    <form id="formulario" method="POST" action="/registro">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="Apellidos">Apellidos(*)</label>
                                <input type="text" class="form-control" id="apellido" aria-describedby="apellidoHelp" name="apellido" placeholder="Ingrese su apellido">
                                <small id="apellidoHelp" class="form-text text-muted">Apellidos Completos</small>
                            </div>
                            <div class="form-group">
                                <label for="Nombres">Nombres(*)</label>
                                <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" name="nombre" placeholder="Ingrese su nombre">
                                <small id="nombreHelp" class="form-text text-muted">Nombres Completos</small>
                            </div>
                            <div class="form-group">
                                <label for="fecha">Fecha de nacimiento(*)</label>
                                <input type="date" class="form-control" id="fecha" aria-describedby="fechaHelp" name="fecha" placeholder="Ingrese su fecha de Nacimiento">
                                <small id="fechaHelp" class="form-text text-muted">Seleccione du fecha de nacimiento</small>
                            </div>
                            <div class="form-group">
                                <label for="Edad">Edad</label>
                                <input type="number" class="form-control" id="edad" aria-describedby="edadHelp" name="edad" disabled="true">

                            </div>
                            <span class="appointment-heading">DATOS DE LA CUENTA</span>
                            <div class="form-group">
                                <label for="correo">Correo(*)</label>
                                <input type="email" class="form-control" id="correo" aria-describedby="correoHelp" placeholder="Ingrese su correo" name="correo">

                            </div>
                            <div class="form-group">
                                <label for="contrasenia">Contrasenia(*)</label>
                                <input type="password" class="form-control" id="clave" placeholder="Contrasenia" name="clave">
                            </div>
                            <br>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success py-3 px-4">Guardar</button>
                                <a href="/" class="btn btn-primary py-3 px-4">Regresar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>